/* shared styles */
body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.color-orange {
    color: rgba(233, 90, 8, 1);
}

.color-gray {
    color: rgba(0, 0, 0, 0.5);
}
/* Header section */
.parent-container {
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px;
}

header ul {
    gap: 48px;
    list-style: none;
}

header a {
    text-decoration: none;
}

#home {
    font-size: 16px;
    font-weight: bold;
    color: #252432;
}

.both {
    font-size: 16px;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
}

#cart {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

/* banner section-1 styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 221px 150px 120px 150px;
}
.banner-heading {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 13px;
}

.banner-description {
    font-weight: 400;
    font-size: 22px;
}

.banner-pic {
    width: 550px;
    height: 350px;
}
/* Card Section */
.card-section{
    max-width: 1440px;
    text-align: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 150px;
    margin-left: auto;
}
.card-head{
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
}
.card img{
    width: 100%;
}
.card button{
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 25px;
    border: none;
    padding: 22px 80px;
    color: white;
    background-color: rgba(233, 90, 8, 1);
    cursor: pointer;
    padding-bottom: 33px;
}
.card h3{
    font-size: 22px;
    font-weight: 500;
}
.card h4{
    font-size: 22px;
    font-weight: bold;
}
.card-heading{
    font-size: 50px;
    font-weight: bold;
}
.card-description{
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 45px;
    margin-left: 220px;
    margin-right: 220px;
}
.card-content{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#lily{
    margin-top: 30px;
    margin-bottom: 15px;
}
#money{
    margin-top: 15px;
    margin-bottom: 30px;
}
/* flower section style */
.flower-container{
    display: flex;
    justify-content: space-between;
    margin: 210px 150px 120px 133px;
    gap: 60px;
    max-width: 1440px;
}
.pic-1{
    width: 540;
    height: 597px;
}
.flower-container h2{
    font-size: 50px;
    font-weight: bold;
}
.flower-container ul li{
    font-size: 22px;
    font-weight: 400;
}
/* Media Query Section */
@media screen and (max-width:720px) {

    .parent-container,
    header>ul {
        flex-direction: grid;
        gap: 16px;
        text-align: center;
        justify-content: center;
    }

    #home,
    .both {
        display: none;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .banner-pic{
        order: 1;
        width: 350px;
        height: 220px;
        display: block;
        margin-bottom: 28px;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-content {
        order: 2;
        text-align: center;
        max-width: 600px;
    }
    
    .card-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}